[submodule "libs/zgpu/libs/dawn"]
	path = libs/zgpu/libs/dawn
	url = https://github.com/michal-z/dawn-bin.git
[submodule "libs/zig-network"]
	path = libs/zig-network
	url = https://github.com/MasterQ32/zig-network.git
